@using Microsoft.AspNet.Identity
@if (Config.ApplicationUser != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (Config.ApplicationUser?.Role == KgisReports.BO.User.UserRole.Admin)
            {
                @Html.ActionLink("Witaj " + Config.ApplicationUser.Login + "!", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Manage" })
            }
            else
            {
                @Html.ActionLink("Witaj " + Config.ApplicationUser.Login + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
            }

        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj się", "LoginPage", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
