@model KgisReports.Models.LoginViewModel

@{
    ViewBag.Title = "Logowanie";
}

<h2>Logowanie</h2>
<h4 style="color:red">@ViewData["error"]</h4>
<hr />
@using (Html.BeginForm("LoginAuthorization", "Account", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(p => p.LoginOrEmail)
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(p => p.LoginOrEmail)
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(p => p.Password)
            </div>
            <div class="col-md-6">
                @Html.PasswordFor(p => p.Password)
            </div>


        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-6">
                <br />
                <button type="submit" class="btn btn-primary">Zaloguj</button>
            </div>
        </div>



    </div>


}





